<h1>mainPage</h1>
<form action={{ mainPage }}>
    <input type="submit" value="mainPage" />
</form>
<form action={{ basketPage }}>
    <input type="submit" value="basketPage" />
</form>
<form action={{ productPage }}>
    <input type="submit" value="productPage" />
</form>
<form action={{ loginPage }}>
    <input type="submit" value="loginPage" />
</form>