<div class="sidebar">
    <form action="" method="get" class="widget-form">
        <div>
            <input class="widget" type="submit" value="page 1" />
        </div>
        <div>
            <input class="widget" type="submit" value="page 2" />
        </div>
        <div>
            <input class="widget" type="submit" value="page 3" />
        </div>
        <div>
            <input class="widget" type="submit" value="page 4" />
        </div>
        <div>
            <input class="widget" type="submit" value="page 5" />
        </div>
        <div>
            <input class="widget" type="submit" value="page 6" />
        </div>
    </form>
</div>