<script>
    function redirectToUrl(url) {
        location.href = url;
    }
</script>
<div class="sidebar">
    <div class="widget-form">
        <div>
            <input class="widget" type="submit" value="mainPage" onclick="redirectToUrl('mainPage')"/>
        </div>
        <div>
            <input class="widget" type="submit" value="login" onclick="redirectToUrl('loginPage')"/>
        </div>
        <div>
            <input class="widget" type="submit" value="basket" onclick="redirectToUrl('basketPage')"/>
        </div>
    </div>
</div>